@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-background-primary: #09090B;
  --color-background-secondary: #131315;
  --color-foreground: #FAFAFA;
  --color-information: #8FBBE8;
  --color-muted-foreground: #A1A1AA;
  --color-border: #28282C;
}